/*-------------------------------------------------------------------------
	Publish Notes Field CSS
-------------------------------------------------------------------------*/

.field.field-publishnotes {
	--standard-label-color: var(--color-main-dark);
	--standard-field-background-color: var(--color-accent-light);
	
	padding: var(--standard-inner-rhythm);
	margin: var(--standard-outer-rhythm) 0;
	border-radius: var(--field-stack-border-radius);
}

.field-publishnotes+.field {
	border-top-left-radius: var(--field-stack-border-radius);
	border-top-right-radius: var(--field-stack-border-radius);
}

.field.field-publishnotes .publishnotes-edit {
	float: right;
	margin-left: var(--standard-inner-rhythm);
}

.field.field-publishnotes .cancel:not(:hover) {
	background: transparent;
	color: var(--color-main);
}

.field.field-publishnotes .cancel:hover {
	background-color: var(--color-error-light);
	color: var(--color-error-dark);
}

.field.field-publishnotes .apply {
	font-size: var(--text-smaller);
	margin-top: var(--standard-inner-rhythm);
}

html:not(.js-active) .publishnotes-editor {
	display: none;
}